name: Test
on: [push, pull_request]
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: [ "1.24.x", "1.25.x" ]
        #os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: "ubuntu-latest"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Install Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4
      - name: Start dynamodb local
        run: >
          sudo docker run --name dynamodb -d -p 8000:8000 amazon/dynamodb-local
      - name: Test
        run: make ci-show-integration-cov
        env:
          DYNAMODB_URL: http://localhost:8000
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "./coverage.out"
      - name: Require minimum test coverage percentage
        env:
          TESTCOVERAGE_PCT: 98
        run: |
          actual_pct="$(go tool cover --func=coverage.out | awk '/^total:.*%$/ { print substr($3, 1, length($3)-1) }')"
          echo "Verifying test coverage percentage (minimum allowed: ${TESTCOVERAGE_PCT} ; parsed: ${actual_pct})"
          # NOTE: sys.exit(True) will be a non-zero exit code, so we only want
          # that when the actual percentage is lower than our configured
          # threshold
          python -c "import sys; sys.exit($actual_pct < $TESTCOVERAGE_PCT)"
      - name: Kill container(s)
        run: |
          sudo docker stop dynamodb
          sudo docker rm dynamodb
      - name: Check for vulnerabilities
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          make vulncheck
