name: Test
on: [push, pull_request]
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: [ "1.24.x", "1.25.x" ]
        #os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: "ubuntu-latest"
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
        with:
          egress-policy: audit

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Start dynamodb local
        run: >
          sudo docker run --name dynamodb -d -p 8000:8000 amazon/dynamodb-local
      - name: Test
        run: make ci-show-integration-cov
        env:
          DYNAMODB_URL: http://localhost:8000
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "./coverage.out"
      - name: Require minimum test coverage percentage
        env:
          TESTCOVERAGE_PCT: 98
        run: |
          actual_pct="$(go tool cover --func=coverage.out | awk '/^total:.*%$/ { print substr($3, 1, length($3)-1) }')"
          echo "Verifying test coverage percentage (minimum allowed: ${TESTCOVERAGE_PCT} ; parsed: ${actual_pct})"
          # NOTE: sys.exit(True) will be a non-zero exit code, so we only want
          # that when the actual percentage is lower than our configured
          # threshold
          python -c "import sys; sys.exit($actual_pct < $TESTCOVERAGE_PCT)"
      - name: Kill container(s)
        run: |
          sudo docker stop dynamodb
          sudo docker rm dynamodb
      - name: Check for vulnerabilities
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
          make vulncheck
